body{
  font-family: "Montserrat";
}

#title{
  background-color: #000022;
  color: white;

}

h1{
  font-size: 2.5rem;
  font-family: "Montserrat-Black";
  line-height: 1.5;
}

h2{
  font-family: "Montserrat-bold";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
}

h3{
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
}

p{
  color: #8f8f8f;
  font-weight: bold;
  font-size: 1.1rem;
}

.container-fluid{
  padding: 3% 15% 14% ;
}

/* navbar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat"
  color:white;
  font-weight: bold;
}

.title-img{
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 22%
}

#skill{
  text-align: center;
  padding: 2% 20% 0%;
  background-color: #fff;
  position: relative;
  color: Black;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;

}
.skills{
  padding-top: 10px;
}

.circle-img{
  width: 220px;
  float: right;
  margin-right: 100px;
}
.circle-img1{
  width: 220px;
  float: left;
  margin-right: 100px;
}

.card-header{
  background-color:  #e5e4ee;
}

/* features */
#features{
  padding: 1% 20%;
  background-color: #fff;
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 4.5%;
}

.icon{
  color: #000022;
  margin-bottom: 2rem;
}
.icon-:hover{
  color: white;
}

/* cta */
#cta{
  padding: 100px;
  text-align: center;
  background-color:#000022;
  padding: 4% 15% ;
}

.cta-column{
  padding: 3% 3% ;
}

.cta-card-body{
  text-align: left;
}

.cta-sub-heading{
  font-size: 1.2rem;
  font-family: "Montserrat"
  color:white;
}

/* footer */
#footer{
  padding: 3% 15%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}

@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}
